.font-bold {
  font-weight: bold;
}

.overflow-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overflow-hidden {
  overflow: hidden;
}

.pt-1 {
  padding-top: 4px;
}

.pl-1 {
  padding-left: 4px;
}

.grid-image {
  grid-area: image;
}
.grid-header {
  grid-area: header;
}

.grid-description {
  grid-area: description;
}

.d-flex {
  display: flex;
}

.flex-end {
  align-items: flex-end;
}

@media only screen and (max-width: 735px) {
  .show-laptop  {
    display: none
  }
}